.jobCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  height: 380px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  background-color: #e0d8e9;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.taskDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.taskDetailsRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskDetailItem {
  display: flex;
  flex-direction: column;
}

.buttonAndAlertContainer {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: auto;
}

.alertWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: auto;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.datePickerWrapper {
  margin-top: 23px;
}
