.jobCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  background-color: #e0d8e9;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.taskDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.taskDetailsRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskDetailItem {
  display: flex;
  flex-direction: column;
}

.buttonAndAlertContainer {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: auto;
}

.alertWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: auto;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.datePickerWrapper {
  margin-top: 20px;
}

.spaceundergrensesnittavstemning {
  height: 600px;
}

.responsivmelding {
  display: none !important;
}

@media (width <= 1405px) {
  .alertWrapper {
    margin-left: 10px;
  }

  .grensesnittcard {
    height: 480px !important;
  }

  .jobCardContainer {
    height: 405px;
  }
}

@media (width <= 1207px) {
  .jobCardContainer {
    height: 420px;
  }
}

@media (width <= 1034px) {
  .jobCardContainer {
    width: 80%;
    height: 430px;
  }
}

@media (width <= 675px) {
  .jobCardContainer {
    width: 90%;
    height: 445px;
  }

  .alertWrapper {
    margin-left: 10px;
  }

  .grensesnittcard {
    height: 485px;
  }

  .datePickerWrapper {
    margin-top: 0;
  }
}

@media (width <= 500px) {
  .jobCardContainer {
    width: 99%;
  }
}

@media (width <= 450px) {
  .buttonWrapper {
    margin-top: -50px;
    position: absolute;
  }

  .jobCardContainer {
    height: 500px;
  }

  .grensesnittcard {
    height: 530px !important;
  }
}

@media (width <= 377px) {
  .grensesnittcard {
    height: 630px !important;
  }
}

@media (width <= 350px) {
  .jobCardContainer {
    display: none;
  }

  .tittel {
    display: none;
  }

  .responsivmelding {
    display: contents !important;
  }
}
